/* Contenedor principal */
h1{
    text-align: center;
    font-size: 4rem;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

/* Título completamente centrado */
.titulo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #004aad;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

/* Contenido con imagen y texto en dos columnas */
.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Imagen a la izquierda */
.imagen {
  flex: 1;
  display: flex;
  justify-content: center;
}

.imagen img {
  border-radius: 6px;
  max-width: 100%;
  height: auto;
}

/* Texto a la derecha */
.texto {
  flex: 2;
  text-align: left;
  padding: 20px;
}

.envelope{
    max-width: 50px;
}

/* Responsive */
@media (max-width: 768px) {
  .contenido {
    flex-direction: column;
    text-align: center;
  }

  .titulo {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  .imagen {
    margin-bottom: 20px;
  }
}